<section class="services">
  <div class="container">
    <div class="row">
      <div class="offset-2 offset-md-0 col-8 col-md-4 mb-3">
        <div class="services__item">
          <div class="services__slide services__front">
            <img class="services__image" src="assets/img/banner/11.jpg" alt="">
            <span class="services__info">
              <span class="services__title">Hand bags</span>
              <span class="services__text">New collection</span>
            </span>
          </div>
          <div class="services__slide services__back">
            <div class="services__button">
              <a [routerLink]="['/']">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="offset-2 offset-md-0 col-8 col-md-4 mb-3">
        <div class="services__item">
          <div class="services__slide services__front">
            <img class="services__image" src="assets/img/banner/10.jpg" alt="">
            <span class="services__info">
              <span class="services__title">watches</span>
              <span class="services__text">sale up to 70% off</span>
            </span>
          </div>
          <div class="services__slide services__back">
            <div class="services__button">
              <a [routerLink]="['/']">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="offset-2 offset-md-0 col-8 col-md-4 mb-3">
        <div class="services__item">
          <div class="services__slide services__front">
            <img class="services__image" src="assets/img/banner/9.jpg" alt="">
            <span class="services__info">
              <span class="services__title">Accessories</span>
              <span class="services__text">Free shipping</span>
            </span>
          </div>
          <div class="services__slide services__back">
            <div class="services__button">
              <a [routerLink]="['/']">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>