<footer class="footer-area">
  <div class="footer-area__newsletter">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="footer-area__newsletter-des m-bottom-30">
            <h4>our news</h4>
            <h2>newsletter signup</h2>
            <p>Subscribe to our email list and stay up-to-date with all our anwesome releases and latest updates.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="footer-area__newsletter-form">
            <form action="">
              <input type="text" placeholder="Enter you email address here...">
              <a href="">Subscribe !</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-area__bottom">
    <div class="container">
      <div class="row">
        <div class="col-6 d-flex align-items-center">
          <span>Copyright © 2018 All Right Reserved.</span>
        </div>
        <div class="col-6 text-right">
          <ul>
            <li>
              <a href="">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fa fa-google-plus"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fa fa-youtube"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>