<div class="menu">
	<div class="cate">Danh mục
		<i class="fa" 
			[ngClass]="{'fa-minus':arrayMenu.indexOf('cate')>-1, 'fa-plus':arrayMenu.indexOf('cate')<=-1}" 
			style="float: right;" 
			(click)="onToggle('cate')">
		</i>
	</div>
	<div class="nav nav-pills nav-stacked" *ngIf="arrayMenu.indexOf('cate')>-1">
		<li *ngFor="let item of cateMenu">
			<a [routerLink]="['/danh-muc',item?.slug]">{{item?.name}} - ({{item?.item}})</a>
		</li>
	</div> 
	<br>
	<div class="cate">Nhà sản xuất
		<i class="fa" 
			style="float: right;" 
			[ngClass]="{'fa-minus':arrayMenu.indexOf('brand')>-1, 'fa-plus':arrayMenu.indexOf('brand')<=-1}" 
			(click)="onToggle('brand')">
		</i>
	</div>
	<div class="nav nav-pills nav-stacked" *ngIf="arrayMenu.indexOf('brand')>-1">
		<li *ngFor="let item of brandMenu">
			<a [routerLink]="['/nha-san-xuat',item?.slug]">{{item?.name}} - ({{item?.item}})</a>
		</li>
	</div> 
	<br>
	<div class="cate">Giới tính
		<i class="fa" 
			[ngClass]="{'fa-minus':arrayMenu.indexOf('gender')>-1, 'fa-plus':arrayMenu.indexOf('gender')<=-1}" 
			style="float: right;" 
			(click)="onToggle('gender')">
		</i>
	</div>
	<div class="nav nav-pills nav-stacked" *ngIf="arrayMenu.indexOf('gender')>-1">
		<li>
			<a [routerLink]="['/gioi-tinh/nam']">Nam</a>
			<a [routerLink]="['/gioi-tinh/nu']">Nữ</a>
		</li>
	</div> 
</div>

<div class="list">
	<h4>Giá</h4>
	<div class="list-size filter-price">
	    <input type="range" class="filter2" (change)="onChangePrice($event)" value="0" min="0" max="20000000">
	    <input type="text" disabled [ngModel]="currentMoney | currency:'VND':'symbol':'1.0-3'">
	    <input type="text" disabled [value]="20000000 | currency:'VND':'symbol':'1.0-3'">
	</div>
	<div class="clearfix"></div>
	<h4>Kích thước</h4>
	<div class="list-size">
		<span class="size" [class.active]="arrayListSize.indexOf(item)>-1" *ngFor="let item of listSizeClothes" (click)="navigateToSize(item)">{{item}}</span>
	</div>
	<div class="list-size">
		<span class="size" [class.active]="arrayListSize.indexOf(item)>-1" *ngFor="let item of listSizeShoes" (click)="navigateToSize(item)">{{item}}</span>
	</div>
	<h4>Màu sắc</h4>
	<div class="list-color">
		<span class="color" [ngStyle]="{'background-color':item}" [class.active]="arrayListColor.indexOf(item)>-1" *ngFor="let item of colors" (click)="navigateToColor(item)"></span>
	</div>
</div>