<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="footer__top">
          <div class="row">
            <div class="col-lg-3 col-sm-6">
              <div class="footer__content">
                <a href="" class="footer__content--logo">
                  <img src="assets/img/logo/logo-2.png" alt="">
                </a>
                <ul class="footer__content--contact">
                  <li>
                    <i class="fa fa-map-marker"></i>Address : 207 3/2 Street, HCMC, VN.</li>
                  <li>
                    <i class="fa fa-mobile"></i>Phone: +(84) 902 194 694</li>
                  <li>
                    <i class="fa fa-envelope-open"></i>Email: nguyencongduc13195@gmail.com</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="footer__content">
                <h5 class="footer__content--title">INFORMATION</h5>
                <ul class="footer__content--list">
                  <li>About Us</li>
                  <li>Delivery Information</li>
                  <li>Privacy Policy</li>
                  <li>Terms & Conditions</li>
                  <li>Contact Us</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="footer__content">
                <h5 class="footer__content--title">EXTRAS</h5>
                <ul class="footer__content--list">
                  <li>Brands</li>
                  <li>Gift Certificates</li>
                  <li>Affiliate</li>
                  <li>Specials</li>
                  <li>Returns</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="footer__content">
                <h5 class="footer__content--title">FOLLOW US</h5>
                <ul class="footer__content--list">
                  <li>Twttier</li>
                  <li>Google</li>
                  <li>Facebook</li>
                  <li>Youtube</li>
                  <li>Instagram</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="row">
        <div class="col-6">
          Copyright © 2018 All Right Reserved.
        </div>
        <div class="col-6 text-right">
          <img src="assets/img/icon/payment.png" alt="">
        </div>
      </div>
    </div>
  </div>
</footer>