@import '~src/sass/variables';
.content{
    &__filter{
        &-title{
            margin-bottom: 2rem;
            text-transform: uppercase;
            font-weight: 600;
        }
        &-price{
            margin-bottom: 3rem;
        }
        &-range{
            position: relative;
            background: #777 none repeat scroll 0 0;
            border: medium none;
            border-radius: 0px;
            height: 3px;
            margin: 25px 0 25px;
            & {
                -webkit-appearance: none;
                width: 100%;
                height: 15px;
                border-radius: 5px;   
                background: #d3d3d3;
                outline: none;
                opacity: 0.7;
                -webkit-transition: .2s;
                transition: opacity .2s;
            }
            
            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 50%; 
                background: $color-primary;
                cursor: pointer;
            }
            
            &::-moz-range-thumb {
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 50%;
                background: $color-primary;
                cursor: pointer;
            }
        }
        // &-slider{
        //     position: absolute;
        //     z-index: 1;
        //     font-size: .7em;
        //     display: block;
        //     border: 0;
        //     top: 0;
        //     height: 100%;
        //     // left: 20%;
        //     // width: 68.3333%;
        //     left: 0;
        //     width: 100%;
        //     background-color: $color-primary;
        // }
        // &-unit{
        //     border: 3px solid $color-primary;
        //     border-radius: 25px;
        //     box-shadow: none;
        //     color: $color-white;
        //     cursor: pointer;
        //     font-weight: normal;
        //     height: 1.2rem;
        //     width: 2rem;
        //     position: absolute;
        //     background: $color-white;
        //     z-index: 10;
        //     top: -.4rem;
        // }   
        &-min{
            left: 20%;
        }
        &-max{
            left: 80%;
        }
        &-number{
            input{
                border: none;
                width: 6rem;
                font-size: 1.3rem;
                text-align: center;
            }
        }
        &-category, &-color, &-manufacturer{
            ul{
                li{
                    padding: 1rem 0;
                    line-height: 1;
                    cursor: pointer;
                    a{
                        font-size: 1.3rem;
                        color: $color-secondary;
                        &::before{
                            content: "\f00c";
                            font-family: fontawesome;
                            display: inline-block;
                            border: 1px solid $color-secondary;
                            width: 1.5rem;
                            height: 1.5rem;
                            margin-right: 1rem;
                            color: rgba(0, 0, 0, 0)
                        }
                        &:hover,&:hover::before,&.active, &.active::before{
                            color: $color-primary;
                        }
                    }
                }
            }
        }
        &-image{
            position: relative;
            height: 100%;
            overflow: hidden;
            width: 100%;
            &:hover a::before{
                opacity: 1;
            }
            &:hover img{
                transform: scale(1.1);
            }
            img{
                transition: transform .3s ease-in-out;
                width: 100%;
            }
            a{
                display: block;
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: rgba($color: #8e8b8b, $alpha: .5);
                    z-index: 1;
                    transform: scale(1);
                    opacity: 0;
                    transition: opacity .4s ease-in-out;
                }
            }
        }
    }
    &__topbar{
        font-size: 1.4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-inner{
            display: flex;
            align-items: center;
            &-viewmode{
                ul{
                    margin-bottom: 0;
                    cursor: pointer;
                    li{
                        display: inline-block;
                        margin-right: 1rem;
                        height: 4rem;
                        width: 4rem;
                        line-height: 4rem;
                        text-align: center;
                        font-size: 2rem;
                        border: 1px solid $color-secondary;
                        transition: all .4s;
                        &.active, &:hover{
                            background: $color-primary;
                            color: $color-white;
                            border: 1px solid $color-primary;
                        }
                    }
                }
            }
            &-total{
                margin-left: 1rem;
            }
        }
        &-select{
            select{
                margin-left: 1rem;
                height: 4rem;
                width: 15rem;
                text-align-last: center;
                &:focus{
                    outline:none;
                }
            }
        }
        &-filter{
            flex-grow: 1;
            margin: 0 2rem;
            input{
                padding: 1rem 0rem;
                width: 100%;
                text-align: center;
            }
        }
    }
    &__products{
        &-star{
            font-size: 2rem;
            i{
                &.active{
                    color: $color-primary;
                }
                color: #a5a2a2;
            }
        }
        &-wrap{
            margin-top: 3rem;
        }
        &-description{
            font-size: 1.3rem;
        }
        &-list{
            &-item{
                margin-top: 2rem;
                margin-right: .5rem;
                display: inline-block;
                font-size: 1.4rem;
                font-weight: 500;
                height: 4.5rem;
                text-align: center;
                line-height: 45px;
                a{
                    color: $color-white;
                }
                &--1{
                    i{
                        margin-right: 1rem;
                    }
                    border: none;
                    border-radius: 25px;
                    padding: 0 2.5rem;
                    background-color: $color-primary;
                }
                &--2{
                    cursor: pointer;
                    background-color: $color-secondary;
                    border-radius: 50%;
                    width: 4.5rem;
                    &:hover{
                        background-color: $color-primary;
                    }
                }
            }
        }
        &-image{
            width: 100%;
            height: 30rem;
            cursor: pointer;
        }
        &-thumb{
            position: relative;
            height: 80%;
        }
        &-label{
            position: absolute;
            top: 1rem;
            z-index: 1;
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            background-color: $color-secondary;
            text-align: center;
            color: $color-white;
            line-height: 5rem;
            font-size: 1.4rem;
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);  
            &--new{
                right: 1rem;
            } 
            &--sale{
                left: 1rem;
                background-color: $color-primary;
            }     
        }
        &-actions{
            position: absolute;
            z-index: 3;
            top: 50%;
            width: 100%;
            text-align: center;
            transform: translateY(-50%);
            font-size: 2rem;
            opacity: 0;
            visibility: hidden;
            a{  
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                background-color: $color-white;
                display: inline-block;
                color: $color-secondary;
                line-height: 4rem;
                text-align: center;
                font-size: 1.6rem;
                margin-right: .5rem;
                &:hover{
                    background-color: $color-primary;
                    color: $color-white;
                }
            }
            i{
                transform: rotateY(-90deg) scale(.8);
                transition: all .5s;
            }
        }
        &-button{
            position: absolute;
            top: 50%;
            border: none;
            transform: translateX(-50%);
            width: 4rem;
            height: 4rem;
            opacity: 0;
            z-index: 3;
            visibility: hidden;
            transition: all .4s;
            &:hover{
                background: $color-primary;
                color: $color-white;
            }
            i{
                font-size: 1.8rem;
            }
            &--next{
                left: 110%;
            }   
            &--prev{
                left: -10%;
            }
        }
        &-caption{
            padding-top: 1.5rem;
            position: relative;
            h5{
                cursor: pointer;
            }
            &-name{
                color: $color-secondary;
                font-size: 1.5rem;
            }
            &-pricebox{
                margin-top: 1rem;
            }
            &-newprice{
                font-size: 1.6rem;
                color: $color-primary;
                font-weight: 600;
                margin-right: .5rem;
            }
            &-oldprice{
                font-size: 1.4rem;
                text-decoration: line-through;
            }
            &-btn{
                color: $color-primary;
                position: absolute;
                bottom: 0;
                left: -4rem;
                opacity: 0;
                visibility: hidden;
                transition: all .4s;
                i{
                    font-size: 1.8rem;
                    margin-right: .5rem;
                }
                span{
                    font-size: 1.6rem;
                }
                &:hover{
                    color: $color-primary;
                }
            }
        }
        &-thumb:hover &-actions{
            opacity: 1;
            visibility: visible;
        }
        &-thumb:hover &-actions i{
            transform: rotateY(0) scale(1);
        }
        &-single-item:hover &-caption-btn{
            opacity: 1;
            visibility: visible;
            left: 0;
        }
        &-single-item:hover &-caption-pricebox{
            opacity: 0;
            visibility: hidden;
        }
        &-thumb:hover &-button{
            opacity: 1;
            visibility: visible;
        }
    }
    &__paginations{
        border-top: 1px solid #bfbaba;
        ul{
            margin-bottom: 0;
            text-align: center;
        }
        li{
            display: inline-block;
            margin-right: .8rem;
        }
        a{
            height: 4rem;
            display: inline-block;
            width: 4rem;
            background: #ddd;
            border-radius: 50%;
            line-height: 4rem;
            text-align: center;
            color: $color-secondary;
            font-size: 1.4rem;
            &.active, &:hover{
                background: $color-primary;
                color: $color-white;
            }
        }
    }
}

.fa.fa-star,.fa.fa-star-half{
    color: $color-primary;
    font-size: 1.4rem;
}