<div class="container-fluid" *ngIf="loaded" #scroll>
	<div class="row">
		<div class="col-xs-4">
			<!-- <img *ngIf="productDetail?.images_Detail?.length > 0 !==''; else none" 
				src="https://apimean.herokuapp.com/api/product/images-detail/{{productDetail?.image}}" class="img-responsive"> -->
			<ng-container *ngIf="productDetail?.image !==''; else none">
				<!-- <img src="http://localhost:3000/api/product/images-detail/{{mainImage}}" class="img-responsive"> -->
				<img src="https://apimean.herokuapp.com/api/product/images-detail/{{mainImage}}" class="img-responsive">
			</ng-container>
			<ng-template #none>
				<img class="img-responsive" src="https://apimean.herokuapp.com/api/product/images-detail/no-image.jpg"/>
				<!-- <img class="img-responsive" src="http://localhost:3000/api/product/images-detail/no-image.jpg"/> -->
			</ng-template>
			<br>
			<div class="text-center">
				<span class="dropdown">
					<button type="button" class="btn btn-success btn-lg" 
						(click)="likeProduct(productDetail?._id)"
						[disabled]="isLiked"
					>
					{{likes}}&nbsp;<i class="glyphicon glyphicon-thumbs-up"></i>
					</button>
					<span class="dropdown-content">
						<a *ngFor="let name of likeBy">{{name}}</a>
					</span>
				</span>
				<span class="dropdown">
					<button type="button" class="btn btn-danger btn-lg"
						(click)="dislikeProduct(productDetail?._id)"
						[disabled]="isDisliked"
					>
						{{dislikes}}&nbsp;<i class="glyphicon glyphicon-thumbs-down"></i>
					</button>
					<span class="dropdown-content">
						<a *ngFor="let name of dislikeBy">{{name}}</a>
					</span>
				</span>
				<button type="button" class="btn btn-primary btn-lg">
					{{productDetail?.view_count}}&nbsp;Lượt xem
				</button>
			</div>
		</div>
		<div class="col-xs-8">
			<div class="row">
				<div class="col-md-7 col-xs-12">
					<div class="info">
						<h5 class="name">{{productDetail?.name}}</h5>
						<span class="brand">Nhà sản xuất: <a [routerLink]="['/nha-san-xuat', productDetail?.brand?.slug]">{{productDetail?.brand?.name}}</a></span>
						<span class="brand">Giới tính: <a [routerLink]="['/gioi-tinh', productDetail?.gender?.slug]">{{productDetail?.gender?.name}}</a></span>
						<p class="content" [innerHTML]="productDetail?.body | summary:400"></p>
						<ng-container *ngIf="productDetail?.image_Detail?.length > 0">
							<!-- <img *ngFor="let item of productDetail?.image_Detail"
								src="http://localhost:3000/api/product/images-detail/{{item}}" 
								class="img-detail"
								(mouseenter)="changeImage(item)"
								(mouseleave)="setDefaultImg()"
							/> -->
							<img *ngFor="let item of productDetail?.image_Detail"
								src="https://apimean.herokuapp.com/api/product/images-detail/{{item}}" 
								class="img-detail"
								(mouseenter)="changeImage(item)"
								(mouseleave)="setDefaultImg()"
							/>
						</ng-container>
						<div class="tag" *ngIf="productDetail?.tag_array?.length>0">Tag: 
							<a class="label label-success" 
								*ngFor="let item of productDetail?.tag_array" 
								[routerLink]="['/tim-kiem']"
								[queryParams]="{tag:item}"
							>{{item}}, </a>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-md-5 col-xs-12">
					<div class="panel panel-success">
						<div class="panel-heading">
							<h3 class="panel-title">Thông tin thanh toán</h3>
						</div>
						<div class="panel-body">
							<div class="infoprice" *ngIf="productDetail?.promotion_price !== productDetail?.price; else nosale">
								<div>
									<label>Giá: </label>
									<span class="price priceDetail">
										<del>
											{{productDetail?.price| currency:'VND':'symbol':'1.0-3'}}
										</del>
									</span>
								</div>
								<br>
								<div>
									<label>Giá khuyến mãi: </label>
									<span class="price priceDetail">
										<strong>
										{{productDetail?.promotion_price| currency:'VND':'symbol':'1.0-3'}}
										</strong>
									</span>
								</div>
								<br>
								<div>
									<label>Tiết kiệm: </label>
									<span class="price priceDetail" style="color:#087b39">
										{{(productDetail?.price - productDetail?.promotion_price) | currency:'VND':'symbol':'1.0-3'}}
										({{100-(100*productDetail?.promotion_price)/productDetail?.price | number:'1.0-0'}})%
									</span>
								</div>
							</div>
							<ng-template #nosale>
								<div class="infoprice">
									<label>Giá: </label>
									<span class="price priceDetail">
									{{productDetail?.price | currency:'VND':'symbol':'1.0-3' }}
									</span>
								</div>
							</ng-template>
							<div class="select">
								<label>Số lượng:</label>
								<select #quantity>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
								</select>
							</div>
							<div class="select">
								<label>Kích cỡ:</label>
								<select #size>
									<option *ngFor="let item of productDetail['size']" value="{{item}}">{{item}}</option>
								</select>
							</div>
							<div class="select">
								<label>Màu sắc:</label>
								<span 
									[ngStyle]="{'background-color':item}"
									[ngClass]="{'color-select': colorM.indexOf(item)>-1}"
									class="color" 
									(click)="selectColor(item)"
									*ngFor="let item of productDetail['color']"></span>
							</div>
							<div class="clearfix"></div>
							<div class="button">
							<button *ngIf="productDetail?.stockitems" type="button" class="btn btn-success btn-lg" 
								(click)="addToCart(productDetail, quantity.value, size.value)">
								Thêm vào giỏ hàng</button>
							<button *ngIf="!productDetail?.stockitems" type="button" class="btn btn-danger btn-lg">
								Sản phẩm đã hết
							</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="product-tab">
		<ul class="nav-tab">
			<li [class.active]="isChoice===1"
				(click)="isChoice = 1">
				Thông tin chi tiết
			</li>
			<li [class.active]="isChoice===2"
				(click)="isChoice = 2"
			>Nhận xét</li>
		</ul>
	</div>
	<div class="row">
		<ng-container *ngIf="isChoice===1; else comment">
			<div [innerHTML]="productDetail?.body" 
				class="content col-md-10 col-xs-12" 
				>
			</div>
			<div [innerHTML]="productDetail?.description" 
				class="description col-md-10 col-xs-12" 
				>
			</div>
		</ng-container>
		<ng-template #comment>
			<h4>Đóng góp ý kiến</h4>
			<div class="col-xs-12">
				<div class="row">
					<form [formGroup]="formComment" (ngSubmit)="onPostComment(formComment.value)">
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<div class="row">
								<div class="col-xs-12">
									<div class="form-group">
										<input 
											[(ngModel)]="txtComment"
											formControlName="txtComment"
											name="txtComment"
											type="text" 
											class="form-control" 
											placeholder="Vui lòng nhập ý kiến"
											autocomplete="off" 
										>
									</div>
								</div>
								<div class="col-xs-6 col-md-12 rate">
									<app-rating [rated]="rates" (rating)="getRating($event)"></app-rating>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<button 
									[disabled]="formComment.invalid"
									type="submit" 
									class="btn btn-primary btn-lg">Gửi</button>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-md-6">
							<span>5 sao</span><div class="a five">a</div> {{fiveStar}}<br>
							<span>4 sao</span><div class="a four">a</div> {{fourStar}}<br>
							<span>3 sao</span><div class="a three">a</div> {{threeStar}}<br>
							<span>2 sao</span><div class="a two">a</div> {{twoStar}}<br>
							<span>1 sao</span><div class="a one">a</div> {{oneStar}}<br>
							<span>0 sao</span><div class="a zero">a</div> {{zeroStar}}<br>
						</div>
					</form>
				</div>
				<div class="row">
					<h4>Nhận xét của khách hàng</h4>
					<div class="col-xs-12" *ngFor="let item of reviews">
						<div class="thumbnail">
							<div class="caption">
								<div class="rating">
									<div *ngIf="item?.rating==5">
										<i class="glyphicon glyphicon-star"></i>
										<i class="glyphicon glyphicon-star"></i>
										<i class="glyphicon glyphicon-star"></i>
										<i class="glyphicon glyphicon-star"></i>
										<i class="glyphicon glyphicon-star"></i>
									</div>
									<div *ngIf="item?.rating==4">
										<i class="glyphicon glyphicon-star"></i>
										<i class="glyphicon glyphicon-star"></i>
										<i class="glyphicon glyphicon-star"></i>
										<i class="glyphicon glyphicon-star"></i>
									</div>
									<div *ngIf="item?.rating==3">
										<i class="glyphicon glyphicon-star"></i>
										<i class="glyphicon glyphicon-star"></i>
										<i class="glyphicon glyphicon-star"></i>
									</div>
									<div *ngIf="item?.rating==2">
										<i class="glyphicon glyphicon-star"></i>
										<i class="glyphicon glyphicon-star"></i>
									</div>
									<div *ngIf="item?.rating==1">
										<i class="glyphicon glyphicon-star"></i>
									</div>
								</div>
								<div class="comment">
									Bởi&nbsp;<span class="name">{{item?.full_name}}</span>&nbsp;
									vào ngày&nbsp;<span>{{item?.created_at | date:'dd/MM/yyyy, HH:mm:ss'}}</span>
									<p class="content">{{item?.comment}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ng-template>
	</div>
	<br>
	<div class="row">
		<app-related-product (view)="getData($event)"></app-related-product>
		<app-diffirent-product (view)="getData($event)"></app-diffirent-product>
	</div>
</div>