@import '~src/sass/variables';
h4{
    color: $color-primary;
    font-weight: bold;
    font-family: "bebasneue";
}
h2{
    font-family: "bebasneue";
    font-size: 3rem;
    font-weight: normal;
    letter-spacing: 0.2rem;
}