<section class="banner">
  <div class="container">
      <div class="row">
          <div class="col">
              <a href="">
                  <img src="assets/img/banner/12.jpg" class="img-fluid" alt="">
                  <span class="banner__text text-center">
                      <span class="banner__text--1">Exclusive backpack</span>
                      <span class="banner__text--2">Best products for women & men</span>
                      <span class="banner__text--link">View our collection</span>
                  </span>
              </a>
          </div>
      </div>
  </div>
</section>