<app-navbar></app-navbar>
<app-breadcrumb></app-breadcrumb>
<section class="about p-top-100">
  <div class="container">
      <div class="row about__company">
          <div class="col-lg-6">
              <div class="about__company-img">
                  <img src="assets/img/about/about1.jpg" class="img-fluid" alt="">
              </div>
          </div>
          <div class="col-lg-6">
              <div class="about__company-information">
                  <h2>Our company</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum hic neque natus laborum ut quis
                      aut quo voluptas dolor dicta.</p>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum hic neque natus laborum ut quis
                      aut quo voluptas dolor dicta.</p>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum hic neque natus laborum ut quis
                      aut quo voluptas dolor dicta.</p>
                  <a [routerLink]="['/']">Read More</a>
              </div>
          </div>
      </div>
      <div class="about__team">
          <div class="row">
              <div class="col-lg-12">
                  <div class="about__team-title">
                      <h2>our exclusive team</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="about__team-single">
                      <div class="about__team-img">
                          <img src="assets/img/about/team-1.jpg" class="img-fluid" alt="">
                          <div class="about__team-social">
                              <ul>
                                  <li>
                                      <a href="">
                                          <i class="fa fa-twitter"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="">
                                          <i class="fa fa-facebook"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="">
                                          <i class="fa fa-vimeo"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="">
                                          <i class="fa fa-instagram"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                      <div class="about__team-info">
                          <h3>Marcos Alonso</h3>
                          <p>web designer</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="about__team-single">
                      <div class="about__team-img">
                          <img src="assets/img/about/team-4.jpg" class="img-fluid" alt="">
                          <div class="about__team-social">
                              <ul>
                                  <li>
                                      <a href="">
                                          <i class="fa fa-twitter"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="">
                                          <i class="fa fa-facebook"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="">
                                          <i class="fa fa-vimeo"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="">
                                          <i class="fa fa-instagram"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                      <div class="about__team-info">
                          <h3>Alex Johan</h3>
                          <p>web developer</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="about__team-single">
                      <div class="about__team-img">
                          <img src="assets/img/about/team-3.jpg" class="img-fluid" alt="">
                          <div class="about__team-social">
                              <ul>
                                  <li>
                                      <a href="">
                                          <i class="fa fa-twitter"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="">
                                          <i class="fa fa-facebook"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="">
                                          <i class="fa fa-vimeo"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="">
                                          <i class="fa fa-instagram"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                      <div class="about__team-info">
                          <h3>John Doe</h3>
                          <p>php developer</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="about__team-single">
                      <div class="about__team-img">
                          <img src="assets/img/about/team-2.jpg" class="img-fluid" alt="">
                          <div class="about__team-social">
                              <ul>
                                  <li>
                                      <a href="">
                                          <i class="fa fa-twitter"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="">
                                          <i class="fa fa-facebook"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="">
                                          <i class="fa fa-vimeo"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="">
                                          <i class="fa fa-instagram"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                      <div class="about__team-info">
                          <h3>Marcos Alonso</h3>
                          <p>web designer</p>
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </div>
</section>
<section class="testimonials">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-8">
              <div class="testimonials__slider">
                  <div class="testimonials__slider-item">
                      <div class="testimonials__slider-item-img text-center">
                          <img src="assets/img/team/1.png" class="img-fluid" alt="">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. sed do eiusmod tempor incididunt
                              ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                          <h4>Alex johan</h4>
                          <span>ui/ux Designer</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<app-footer-2></app-footer-2>
